!!!
%head
  %meta{'charset'=>'utf-8'}/
  %meta{'http-equiv'=>'X-UA-Compatible', :'content'=>'IE=Edge'}/
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  %title
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/app.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/links.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/borders.min.css'}/

%body
  %header
    %span.topbar.back.light
    %span.topbar.back.emphasized
    %span.topbar.back.heading
    %span.topbar.back.dark

  %section.landing.dark
    %h1.heavy.big Mentorship - 2016
    %h4.light Dec.08.2015
    %hr.limited-rule/
    .sub-text A year long adventure into programming.
    %h4.emphasized Anubhav Saini
    %h3.heavy t/@iamanubhavsaini

  %section.content
    .item
      %h1.heading.heavy Overview
      %p.dark This is my way of giving back to programming community. There is no catch. You have questions that you think people will make fun of, ask me. You find learning to program hard, talk to me. You want to learn to be able to solve problems and do cool stuff, raise your hand. 
 
    .item
      %h1.heading.heavy Goals
      %ol.dark
        %li Mentoring new students who want to learn programming but cannot because of any reason.
        %li Learning in an environment where everyone wants to learn with same ferocity.
        %li HTML | CSS | JavaScript | General Purpose Programming.
    .item
      %h1.heading.heavy Specifications
      %p.dark Read about stuff that you learned today. Think how you solved a problem. Figure out how things connect to form solutions. Ask yourself how can you make your code better. Have a problem to solve at your fingertips, always.

    .item
      %h2.emphasized.heavy Do not copy.
      %p.dark You can ask for general directions, but please do not ask me or others to solve your problems for you. You have to build your own solutions, your own concepts, your own understandings. You have to challenge yourself. Do not copy other’s answers. That’ll kick you out of the program.

    .item
      %h1.heading.heavy Milestones
      %ol.emphasized.roman-cap 
        %li Being able to understand a problem.
        %p.dark Learning what the problem is a great first step towards solving it.
        %li Being able to come up with multiple solutions.
        %p.dark Only after you have understood your problem, you will be able to come up with solution even many of them.

  %footer   
    %a{ :href=>"http://twitter.com/iamanubhavsaini" } @iamanubhavsaini
    %a{ :href=>"./public/images/Projectproposal-Mentorship2016.pdf" } Project Proposal PDF

  #scripts
    %script{'src'=>'./public/scripts/app.min.js'}
    %script{'src'=>'./public/scripts/jquery-2.1.4.min.js'}

