!!!
%head
  %meta{'charset'=>'utf-8'}/
  %meta{'http-equiv'=>'X-UA-Compatible', :'content'=>'IE=Edge'}/
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  %title
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/app.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/links.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/borders.min.css'}/

%body
  %header
  %section
  %footer
  #scripts
    %script{'src'=>'./public/scripts/app.min.js'}
    %script{'src'=>'./public/scripts/jquery-2.1.4.min.js'}

