!!!
%html{ :"ng-app"=>"mentorshipApp"}
  %head
    %meta{'charset'=>'utf-8'}/
    %meta{'http-equiv'=>'X-UA-Compatible', :'content'=>'IE=Edge'}/
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    %title Mentorship 2016
    %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/app.min.css'}/
    %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/links.min.css'}/
    %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/borders.min.css'}/

  %body{ :"ng-controller"=>"indexDataController as data"}
    %header
      %span.topbar.back.light
      %span.topbar.back.emphasized
      %span.topbar.back.heading
      %span.topbar.back.dark

    %section.landing.dark
      %h1.heavy.big Mentorship - 2016
      %h4.light Dec.08.2015
      %hr.limited-rule/
      .sub-text A year long adventure into programming.
      %h4.emphasized Anubhav Saini
      %h3.heavy t/@iamanubhavsaini

    %section.content
      .item{ :"ng-repeat"=>"item in data.contentData"}
        %h1.heading.heavy {{ item.heading }}
        %p.dark {{ item.text }}
   
      .item
        %h1.heading.heavy Goals
        %ol.dark
          %li Mentoring new students who want to learn programming but cannot because of any reason.
          %li Learning in an environment where everyone wants to learn with same ferocity.
          %li HTML | CSS | JavaScript | General Purpose Programming.
      
      .item
        %h1.heading.heavy Milestones
        %ol.emphasized.roman-cap 
          %li Being able to understand a problem.
          %p.dark Learning what the problem is a great first step towards solving it.
          %li Being able to come up with multiple solutions.
          %p.dark Only after you have understood your problem, you will be able to come up with solution even many of them.

      %a{ :href=>"./firststep.html" } First Step
      %a{ :href=>"./secondstep.html" } Second Step

    %section.downloads
      %h3.dark.heavy Downloads
      .item{ :"ng-repeat"=>"item in data.downloadLinks" }
        {{ item.item }}
        %a{ :"ng-repeat"=>"link in item.links", :href=>"{{ link.href }}" }  {{ link.text }}

    %footer
      %a{ :"ng-repeat"=>"link in data.footerLinks", :href=>"{{ link.href }}" } {{ link.text }}

    #scripts
      %script{ :'src'=>'./public/scripts/angular.min.js' }
      %script{ :'src'=>'./public/scripts/app.min.js' }
      %script{ :'src'=>'./public/scripts/app.index.min.js' }
