!!!
%html{ :"ng-app"=>"mentorshipApp"}
  %head
    %meta{'charset'=>'utf-8'}/
    %meta{'http-equiv'=>'X-UA-Compatible', :'content'=>'IE=Edge'}/
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    %title Welcome to Second Step - Mentorship 2016 
    %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/app.min.css'}/
    %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/links.min.css'}/
    %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/borders.min.css'}/

  %body{ :"ng-controller"=>"secondstepDataController as data"}
    %header
      %span.topbar.back.light
      %span.topbar.back.emphasized
      %span.topbar.back.heading
      %span.topbar.back.dark

    %section.landing.dark
      %h1.heavy.big Second step.
      %h4.light Getting ready for the year ahead.
      %hr.limited-rule/
      .sub-text A year long adventure into programming.
      %h4.emphasized Anubhav Saini
      %h3.heavy t/@iamanubhavsaini
      %h2.heavy
        %a{ :href=>"./index.html" } Mentorship 2016

    %section.content
      .item
        %p.dark Questions that you need to answer. Things you need to do. Create a document. Share it with me. The goal of this document and exercise is to check your planning and time management skills. We have one full year ahead of ourselves. What is that you want to do with it and how?
   
      .item{ :"ng-repeat"=>"item in data.simpleContentList" }
        %h1.heading.heavy {{ item.heading }} 
        %ol.dark
          %li{ :"ng-repeat"=>"listItem in item.list" } {{ listItem }}


      %a{:href=>"./firststep.html" } First Step
      %a{:href=>"./index.html" } Home Page

    %section.downloads
      %h3.dark.heavy Downloads
      .item{ :"ng-repeat"=>"item in data.downloadLinks" }
        {{ item.item }}
        %a{ :"ng-repeat"=>"link in item.links", :href=>"{{ link.href }}" }  {{ link.text }}

    %footer
      %a{ :"ng-repeat"=>"link in data.footerLinks", :href=>"{{ link.href }}" } {{ link.text }}

    #scripts
      %script{ :'src'=>'./public/scripts/angular.min.js' }
      %script{ :'src'=>'./public/scripts/app.min.js' }
      %script{ :'src'=>'./public/scripts/app.secondstep.min.js' }
      