$red: #FF4136;
$green: #2ECC40;
$blue: #0074D9;
$yellow: #FFDC00;
$fuchsia: #F012BE;
$orange: FF851B;
$lime: #01FF70;
$maroon: #85144B;
$purple: #B10DC9;
$grey: #AAAAAA;
$silver: #DDDDDD;
$black: #111111;
$olive: #3D9970;
$aqua: #7FDBFF;
$teal: #39CCCC;
$white: #EEEEEE;

$color-dark: #695D46;
$color-heading: #FF5E0E;
$color-emphasized: #008575;
$color-emphasized-light: #A2E6D9;
$color-light: #CFC194;

$oldred: red;
$oldgreen: green;
$oldblue: blue;
$oldyellow: yellow;
$oldfuchsia: fuchsia;
$oldorange: orange;
$oldlime: lime;
$oldmaroon: maroon;
$oldpurple: purple;
$oldgrey: grey;
$oldsilver: silver;
$oldblack: black;
$oldolive: olive;
$oldaqua: aqua;
$oldteal: teal;
$oldwhite: white;

