@import 'colors';

.border {
    &.none {
      border: none;
    }
    &.thin {
      border-width: thin;
      &.solid {
        border-style: solid;
        &.red {
          border-color: $red;
        }
        &.green {
          border-color: $green;
        }
        &.blue {
          border-color: $blue;
        }
        &.yellow {
          border-color: $yellow;
        }
        &.fuchsia {
          border-color: $fuchsia;
        }
        &.orange {
          border-color: $orange;
        }
      }
    }
    &.medium {
      border-width: medium;
      &.solid {
        border-style: solid;
        &.red {
          border-color: $red;
        }
        &.green {
          border-color: $green;
        }
        &.blue {
          border-color: $blue;
        }
        &.yellow {
          border-color: $yellow;
        }
        &.fuchsia {
          border-color: $fuchsia;
        }
        &.orange {
          border-color: $orange;
        }
      }
    }
    &.thick {
      border-width: thick;
      &.solid {
        border-style: solid;
        &.red {
          border-color: $red;
        }
        &.green {
          border-color: $green;
        }
        &.blue {
          border-color: $blue;
        }
        &.yellow {
          border-color: $yellow;
        }
        &.fuchsia {
          border-color: $fuchsia;
        }
        &.orange {
          border-color: $orange;
        }
      }
    }
}
