@import 'colors';

a {
  text-decoration: none;
  padding: 1em;
  color: $blue;
  cursor: pointer;

  .heading & {
    font-size: 2em;
  }
  .sub-heading & {
    font-size: 1.7em;
  }
  .title & {
    font-size: 1.4em;
  }
  .emphasize & {
    font-size: 1.1em;
  }
  .small-type & {
    font-size: .5em;
  }
  &:hover {
    border-bottom: thin solid $black;
  }
  li & {
    padding-top: 0;
    padding-bottom: 0;
  }
}
