a {
  text-decoration: none;

  .heading & {
    font-size: 2em;
  }
  .sub-heading & {
    font-size: 1.7em;
  }
  .title & {
    font-size: 1.4em;
  }
  .emphasize & {
    font-size: 1.1em;
  }
  .small-type & {
    font-size: .5em;
  }
  &:hover {
    border: thin solid #333;
  }
}
